.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  width: 80vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.now-playing__artist {
  margin-bottom: 4em;
}

.now-playing__status {
  color: #1db954;
}

.now-playing__img {
  text-align: right;
  width: 66.666%;
}

.now-playing__img img {
  max-height: 45vh;
  max-width: 80vw;
  margin: auto;
  min-width: 30vw;
  width: 100%;
}

.now-playing__side {
  width: 100%;
  padding: 2rem;
}

/** Progress **/

.progress {
  border: 1px solid #1db954;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.progress__bar {
  background-color: #1db954;
  height: 6px;
}
